@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Source+Code+Pro&display=swap');

/*------GENERAL-------*/
* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body{
	background-color: #F8F8F8;
	font-family: "Source Code Pro", monospace;
}

a {
	color: #F8F8F8;
}

.flex {
	display: flex;
}

/*------HEADER-------*/
header {
	background-color: #2B4937;
	color: #F8F8F8;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-family: "Berkshire Swash", script;
	width: 90%;
	text-align: center;
	font-size: 3em;
	padding-top: 50px;
}

header ul {
	width: 100%;
	max-width: 450px;
	justify-content: space-between;
	padding: 30px;
	box-sizing: border-box;
}

header a:hover {
	background-color: #F8F8F8;
	color: #2B4937;
	font-weight: 600;
}

/*------FOOTER-------*/

footer {
	position: fixed;
	z-index: 0;
	color: #F8F8F8;
	background-color: #1A1A1A;
	bottom: 0;
	width: 100%;
	justify-content: space-around;
	padding: 20px;
	box-sizing: border-box;
	font-size: 0.6em;
}